---
import { createReader } from '@keystatic/core/reader';

import keystaticConfig from '../../../keystatic.config';
import Layout from '../../layouts/Layout.astro';
import { AstroDocumentRenderer } from '../../document-renderer/astro-document-renderer.tsx'

const { slug } = Astro.params;
if (!slug) throw new Error('Slug not found');

const reader = createReader(process.cwd(), keystaticConfig);
const post = await  reader.collections.posts.read(slug, { resolveLinkedFiles: true})

if (!post) throw new Error('No post found for this slug');

// Generate static pages
export async function getStaticPaths() {
  const reader = createReader(process.cwd(), keystaticConfig);
  const posts = await reader.collections.posts.list();
  return posts.map(post => ({ params: { slug: post } }));
}
---
<Layout title={post.title}>
  <h1>{post.title}</h1>
  <AstroDocumentRenderer client:load document={post.content} />
</Layout>
